[Unit]
Description=Dmenu based clipboard manager utilizing xsel or xclip

[Service]
Type=simple
EnvironmentFile=/etc/default/clipmenud
ExecStart=/usr/bin/clipmenud
Restart=always
NoNewPrivileges=true

[Install]
WantedBy=default.target
